@model TaMotors.Models.Photo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FrontOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrontOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrontTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrontTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SideOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SideTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SideTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RearOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RearOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RearTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RearTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteriorOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteriorOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteriorTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteriorTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InteriorThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InteriorThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.Manufacturer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
